In [1]:
setwd("~/Documents/shared")
library(dplyr)
ADD_DF <- read.csv("MMFinalDecision_ADD_FULL_cut.csv",header=T,sep=",")
ADD_DF <- ADD_DF[ADD_DF$Avocation1 != "",]
ADD_DF <- ADD_DF[,colSums(is.na(ADD_DF))<nrow(ADD_DF)]
dim(ADD_DF)
head(ADD_DF)
tail(ADD_DF)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

[1] 43861   277

  Policy     benefitdecision rating reason BenefitDecision2 alcoholunitsperweek
1 5388609A05 STANDARD                      STANDARD         0
2 5391362A08 STANDARD                      STANDARD         0
3 5394021A02 STANDARD                      STANDARD         0
4 5394708A09 STANDARD                      STANDARD         0
5 5394853A10 NOT TAKEN UP                  NOT TAKEN UP     0
6 5412514A05 STANDARD                      STANDARD         0
  Avocation1 Avocation2 DivingBuddy  DivingFreq         ⋯ sioheightcm
1 Diving     #N/A       {In a group} Less than 20 times ⋯ 0
2 Diving     #N/A       {In a group} Less than 20 times ⋯ 0
3 Diving     #N/A       {In a group} Less than 20 times ⋯ 0
4 Diving     #N/A       {In a group} Less than 20 times ⋯ 0
5 Diving     #N/A       {In a group} Less than 20 times ⋯ 0
6 Diving     #N/A       {In a group} 20 or more times   ⋯ 0
  sioweightkilos Impairment MMCasePerLife_ClaimRecord existingexclusion
1 0              0          1                         FALSE
2 0              0          0                         FALSE
3 0              0          0                         FALSE
4 0              0          0                         FALSE
5 0              0          0                         FALSE
6 0              0          0                         FALSE
  existinganymedicalpendingcode OC.Loading PF.Loading FH.Loading CR.Loading
1 FALSE                         FALSE      FALSE      FALSE      FALSE
2 FALSE                         FALSE      FALSE      FALSE      FALSE
3 FALSE                         FALSE      FALSE      FALSE      FALSE
4 FALSE                         FALSE      FALSE      FALSE      FALSE
5 FALSE                         FALSE      FALSE      FALSE      FALSE
6 FALSE                         FALSE      FALSE      FALSE      FALSE

      Policy     benefitdecision rating reason BenefitDecision2
43856 S117408A02 STANDARD                      STANDARD
43857 S117409A10 NOT TAKEN UP                  NOT TAKEN UP
43858 S117410A00 WITHDRAW                      WITHDRAW
43859 S117412A05 STANDARD                      STANDARD
43860 S117423A09 STANDARD                      STANDARD
43861 S117424A06 NOT TAKEN UP                  NOT TAKEN UP
      alcoholunitsperweek Avocation1 Avocation2 DivingBuddy DivingFreq ⋯
43856 0                   #N/A       #N/A       #N/A        #N/A       ⋯
43857 0                   #N/A       #N/A       #N/A        #N/A       ⋯
43858 0                   #N/A       #N/A       #N/A        #N/A       ⋯
43859 0                   #N/A       #N/A       #N/A        #N/A       ⋯
43860 0                   #N/A       #N/A       #N/A        #N/A       ⋯
43861 0                   #N/A       #N/A       #N/A        #N/A       ⋯
      sioheightcm sioweightkilos Impairment MMCasePerLife_ClaimRecord
43856 0           0              0          0
43857 0           0              0          0
43858 0           0              0          0
43859 0           0              0          0
43860 0           0              0          0
43861 0           0              0          0
      existingexclusion existinganymedicalpendingcode OC.Loading PF.Loading
43856 FALSE             FALSE                         FALSE      FALSE
43857 FALSE             FALSE                         FALSE      FALSE
43858 FALSE             FALSE                         FALSE      FALSE
43859 FALSE             FALSE                         FALSE      FALSE
43860 FALSE             FALSE                         FALSE      FALSE
43861 FALSE             FALSE                         FALSE      FALSE
      FH.Loading CR.Loading
43856 FALSE      FALSE
43857 FALSE      FALSE
43858 FALSE      FALSE
43859 FALSE      FALSE
43860 FALSE      FALSE
43861 FALSE      FALSE

In [11]:

ADD_DF$Label[ADD_DF$BenefitDecision2 == "DECLINE"|ADD_DF$BenefitDecision2 == "EXCLUSION"|ADD_DF$BenefitDecision2 == "SUB-STANDARD"] <- "Non-Standard"
ADD_DF$Label[ADD_DF$BenefitDecision2 == "STANDARD"] <- "STANDARD"
ADD_DF$Label[ADD_DF$BenefitDecision2 == "POSTPONE"|ADD_DF$BenefitDecision2 == "INCOMPLETE"|ADD_DF$BenefitDecision2 == "NOT TAKEN UP"|ADD_DF$BenefitDecision2 == "WITHDRAW"] <- "DROP"
ADD_DF <- ADD_DF[ADD_DF$Label != "DROP", ]
dim(ADD_DF)
Impairment <- read.csv("ImpairmentSeverity_Count.csv",header=T,sep=",")
dim(Impairment)
Claim <- read.csv("ClaimSeverity_Count.csv",header=T,sep=",")
dim(Claim)
Referral <- read.csv("MMDecisionReferOnly_ALL.csv",header=T,sep=",")
dim(Referral)
head(Impairment)
head(Claim)
head(Referral)
Select_ADD_DF <- merge(ADD_DF,Referral, by="Policy")
dim(Select_ADD_DF)
Total_ADD_DF <- left_join(Select_ADD_DF,Impairment, by="Policy")
dim(Total_ADD_DF)
Final_ADD_DF <- left_join(Total_ADD_DF,Claim, by="Policy")
dim(Final_ADD_DF)
head(Final_ADD_DF)
tail(Final_ADD_DF)

[1] 40804   278

[1] 24075     4

[1] 33632     4

[1] 69339     1

  Policy     Impairment_High Impairment_Low Impairment_Medium
1 5144536A08 1               0              1
2 5144546A04 0               1              1
3 5144564A02 1               0              0
4 5144644A05 0               1              0
5 5144676A09 1               0              0
6 5144724A08 1               0              1

  Policy     Claim_High Claim_Low Claim_Medium
1 5144536A08 0          1         0
2 5144546A04 1          4         2
3 5144564A02 1          0         3
4 5144583A08 0          0         2
5 5144594A01 1          0         0
6 5144629A09 2          1         0

  Policy
1 5154885A02
2 PA09728004
3 5154891A10
4 PA09727007
5 5144583A08
6 5144527A09

[1] 7483  278

Warning message in left_join_impl(x, y, by$x, by$y, suffix$x, suffix$y):
“joining factors with different levels, coercing to character vector”

[1] 7483  281

Warning message in left_join_impl(x, y, by$x, by$y, suffix$x, suffix$y):
“joining factor and character vector, coercing into character vector”

[1] 7483  284

  Policy     benefitdecision rating reason BenefitDecision2 alcoholunitsperweek
1 5144709A01 STANDARD                      STANDARD         0
2 5144853A05 STANDARD                      STANDARD         0
3 5144904A06 STANDARD                      STANDARD         0
4 5144963A07 STANDARD                      STANDARD         0
5 5145195A01 EXCLUSION                     EXCLUSION        0
6 5145292A05 STANDARD                      STANDARD         0
  Avocation1 Avocation2 DivingBuddy DivingFreq ⋯ PF.Loading FH.Loading
1 #N/A       #N/A       #N/A        #N/A       ⋯ FALSE      FALSE
2 #N/A       #N/A       #N/A        #N/A       ⋯ FALSE      FALSE
3 #N/A       #N/A       #N/A        #N/A       ⋯ FALSE      FALSE
4 #N/A       #N/A       #N/A        #N/A       ⋯ FALSE      FALSE
5 #N/A       #N/A       #N/A        #N/A       ⋯ FALSE      FALSE
6 #N/A       #N/A       #N/A        #N/A       ⋯ FALSE      FALSE
  CR.Loading Label        Impairment_High Impairment_Low Impairment_Medium
1 FALSE      STANDARD     NA              NA             NA
2 FALSE      STANDARD      1               0              0
3 FALSE      STANDARD     NA              NA             NA
4 FALSE      STANDARD     NA              NA             NA
5 FALSE      Non-Standard NA              NA             NA
6 FALSE      STANDARD     NA              NA             NA
  Claim_High Claim_Low Claim_Medium
1  0          2         0
2 NA         NA        NA
3 NA         NA        NA
4 NA         NA        NA
5 NA         NA        NA
6 NA         NA        NA

     Policy     benefitdecision rating reason BenefitDecision2
7478 S139334A03 STANDARD                      STANDARD
7479 S139350A07 STANDARD                      STANDARD
7480 S139389A01 STANDARD                      STANDARD
7481 S139390A02 STANDARD                      STANDARD
7482 S139464A08 STANDARD                      STANDARD
7483 S139529A04 STANDARD                      STANDARD
     alcoholunitsperweek Avocation1 Avocation2 DivingBuddy DivingFreq ⋯
7478 0                   None       #N/A       #N/A        #N/A       ⋯
7479 0                   None       #N/A       #N/A        #N/A       ⋯
7480 0                   None       #N/A       #N/A        #N/A       ⋯
7481 0                   None       #N/A       #N/A        #N/A       ⋯
7482 0                   None       #N/A       #N/A        #N/A       ⋯
7483 0                   None       #N/A       #N/A        #N/A       ⋯
     PF.Loading FH.Loading CR.Loading Label    Impairment_High Impairment_Low
7478 FALSE      FALSE      FALSE      STANDARD NA              NA
7479 FALSE      FALSE      FALSE      STANDARD NA              NA
7480 FALSE      FALSE      FALSE      STANDARD NA              NA
7481 FALSE      FALSE      FALSE      STANDARD NA              NA
7482 FALSE      FALSE      FALSE      STANDARD NA              NA
7483 FALSE      FALSE      FALSE      STANDARD NA              NA
     Impairment_Medium Claim_High Claim_Low Claim_Medium
7478 NA                NA         NA        NA
7479 NA                NA         NA        NA
7480 NA                NA         NA        NA
7481 NA                NA         NA        NA
7482 NA                NA         NA        NA
7483 NA                NA         NA        NA

In [12]:
library(ggplot2)
library(rpart)
for (i in 1:ncol(Final_ADD_DF)) if (class (Final_ADD_DF[,i]) == "factor") Final_ADD_DF[,i] <-as.character(Final_ADD_DF[,i])
Final_ADD_DF <- as.data.frame(lapply(Final_ADD_DF, function(x){replace(x, x == "#N/A", NA)}))
head(Final_ADD_DF)

  Policy     benefitdecision rating reason BenefitDecision2 alcoholunitsperweek
1 5144709A01 STANDARD                      STANDARD         0
2 5144853A05 STANDARD                      STANDARD         0
3 5144904A06 STANDARD                      STANDARD         0
4 5144963A07 STANDARD                      STANDARD         0
5 5145195A01 EXCLUSION                     EXCLUSION        0
6 5145292A05 STANDARD                      STANDARD         0
  Avocation1 Avocation2 DivingBuddy DivingFreq ⋯ PF.Loading FH.Loading
1 NA         NA         NA          NA         ⋯ FALSE      FALSE
2 NA         NA         NA          NA         ⋯ FALSE      FALSE
3 NA         NA         NA          NA         ⋯ FALSE      FALSE
4 NA         NA         NA          NA         ⋯ FALSE      FALSE
5 NA         NA         NA          NA         ⋯ FALSE      FALSE
6 NA         NA         NA          NA         ⋯ FALSE      FALSE
  CR.Loading Label        Impairment_High Impairment_Low Impairment_Medium
1 FALSE      STANDARD     NA              NA             NA
2 FALSE      STANDARD      1               0              0
3 FALSE      STANDARD     NA              NA             NA
4 FALSE      STANDARD     NA              NA             NA
5 FALSE      Non-Standard NA              NA             NA
6 FALSE      STANDARD     NA              NA             NA
  Claim_High Claim_Low Claim_Medium
1  0          2         0
2 NA         NA        NA
3 NA         NA        NA
4 NA         NA        NA
5 NA         NA        NA
6 NA         NA        NA

In [24]:
table(Final_ADD_DF$Label)
filterColumnsByNA <- function(df,percentCutoff){
    df <- df[,colSums(is.na(df))/nrow(df)<percentCutoff]
    return(df)
}
Reduce_ADD_DF <- filterColumnsByNA(Final_ADD_DF,0.70)
dim(Reduce_ADD_DF)
str(Reduce_ADD_DF,list.len=ncol(Reduce_ADD_DF))

Non-Standard     STANDARD
         599         6884

[1] 7483  134

'data.frame':	7483 obs. of  134 variables:
 $ Policy                                 : Factor w/ 7483 levels "5144709A01","5144853A05",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ benefitdecision                        : Factor w/ 6 levels "DECLINE","EXCLUSION",..: 5 5 5 5 2 5 5 5 5 5 ...
 $ rating                                 : Factor w/ 3 levels "","100.00%","50.00%": 1 1 1 1 1 1 1 1 1 1 ...
 $ reason                                 : Factor w/ 5 levels "","CR - COMPANY RULES",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ BenefitDecision2                       : Factor w/ 4 levels "DECLINE","EXCLUSION",..: 3 3 3 3 2 3 3 3 3 3 ...
 $ alcoholunitsperweek                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Avocation1                             : Factor w/ 5 levels "Diving","Motor car or motor cycle racing",..: NA NA NA NA NA NA NA NA NA NA ...
 $ HeightCM                               : Factor w/ 98 levels "130","132","133",..: 46 36 21 34 22 24 14 32 24 22 ...
 $ ImpairmentListAdultDetails11           : Factor w/ 23 levels "{A sexually transmitted disease, HIV or AIDS}",..: 16 16 16 16 16 16 16 17 16 16 ...
 $ MMAdultDefects                         : Factor w/ 2 levels "No","Yes": NA NA NA NA NA NA NA NA NA NA ...
 $ MMAvocationList                        : Factor w/ 11 levels "{Diving}","{Diving}{Motor car or motor cycle racing}",..: 9 9 9 9 9 9 9 9 9 9 ...
 $ MMBiopsy1                              : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ mmcigarettesperday                     : Factor w/ 5 levels "1 - 5 per day",..: 5 1 5 5 5 5 5 5 5 5 ...
 $ MMDisability1                          : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ MMImpEars1                             : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ MMImpEyes1                             : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ MMimpGas1                              : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ MMImpMusc1                             : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ MMImpResp1                             : Factor w/ 2 levels "No","Yes": NA 1 1 1 1 1 1 NA 1 1 ...
 $ MMLiverDisorderChild1                  : Factor w/ 1 level "": NA NA NA NA NA NA NA NA NA NA ...
 $ MMTimeOffWork1                         : Factor w/ 2 levels "{No}","{Yes}": 1 1 1 1 2 1 1 1 1 1 ...
 $ MMTravelResidenceChildMalaysiaNo1Others: Factor w/ 1 level "": 1 1 1 1 1 1 1 1 1 1 ...
 $ MYPAQMotorcycleJob                     : Factor w/ 2 levels "No","Yes": NA NA NA NA NA NA NA NA NA NA ...
 $ postcode                               : Factor w/ 671 levels "0","1000","10050",..: 47 257 518 427 321 263 333 183 257 257 ...
 $ RelationName6                          : Factor w/ 1 level "": 1 1 1 1 1 1 1 1 1 1 ...
 $ RelationName7                          : Factor w/ 1 level "": 1 1 1 1 1 1 1 1 1 1 ...
 $ smokingstatusyn                        : logi  FALSE TRUE FALSE FALSE FALSE FALSE ...
 $ TravelResideOverseas                   : Factor w/ 2 levels "No","Yes": 1 1 1 1 1 1 1 1 1 1 ...
 $ WeightKilos                            : Factor w/ 136 levels "100","100.2",..: 111 108 75 85 81 99 95 105 76 90 ...
 $ releasecode                            : Factor w/ 9 levels "","0.0.18","0.0.23",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ applicationdate                        : Factor w/ 276 levels "","1/1/2017",..: 116 125 125 125 134 134 162 189 217 272 ...
 $ applicationtime                        : Factor w/ 2 levels "","1/0/1900": 2 2 2 2 2 2 2 2 2 2 ...
 $ currency                               : Factor w/ 2 levels "","MYR": 2 2 2 2 2 2 2 2 2 2 ...
 $ clientpresent                          : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ agencygroupcode                        : Factor w/ 1367 levels "","1014","1020",..: 305 1315 1238 1362 1236 306 1163 18 980 1311 ...
 $ agencycode                             : Factor w/ 3376 levels "","000001001A",..: 2750 2179 2178 2097 392 1066 2049 123 1842 2189 ...
 $ agencycode2                            : Factor w/ 30 levels "","000001786A",..: 30 30 30 30 30 30 30 30 30 30 ...
 $ agentauthority                         : Factor w/ 5 levels "","Gold","Ordinary",..: 3 4 3 3 3 3 5 3 3 5 ...
 $ agentauthority2                        : Factor w/ 6 levels "","Gold","N/A",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ mycompany                              : Factor w/ 3 levels "","AATB","AIAB": 3 3 3 3 3 3 3 3 3 3 ...
 $ plantype                               : Factor w/ 4 levels "","Investment link",..: 4 4 4 4 4 4 4 4 4 4 ...
 $ plancurrency                           : Factor w/ 2 levels "","MYR": 2 2 2 2 2 2 2 2 2 2 ...
 $ medicalcase                            : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ conversioncase                         : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ singlepremiumamount                    : int  0 0 0 0 0 0 0 0 0 0 ...
 $ annualpremiumamount                    : num  1415 2555 1019 1078 1326 ...
 $ policyownerrelationship                : Factor w/ 22 levels "","AUNTS","Brother",..: 17 17 17 17 17 17 17 17 17 17 ...
 $ policyownercontingent                  : Factor w/ 6 levels "","Brother/Sister",..: 6 6 6 6 6 6 6 6 6 6 ...
 $ policyownernationality                 : Factor w/ 36 levels "","ALGERIA","AUSTRALIA",..: 21 21 21 21 21 21 21 21 21 21 ...
 $ policyownerocc                         : Factor w/ 502 levels "","A51-01-04",..: 177 224 198 245 263 154 291 263 55 360 ...
 $ annualpersonalincomeprimaryinsured     : int  120000 0 0 24000 36000 35999 0 35999 48001 48001 ...
 $ annualpersonalincomepolicyowner        : int  120000 0 0 24000 36000 35999 0 35999 48001 48001 ...
 $ annualpersonalincomespouse             : int  0 0 0 0 0 0 0 0 0 0 ...
 $ annualregularpremiumprimaryinsured     : num  4615 4016 2073 2028 8618 ...
 $ annualregularpremiumpolicyowner        : num  4615 4016 2073 2028 8618 ...
 $ blacklistedagentstatus                 : int  0 0 0 0 0 0 0 0 0 0 ...
 $ blacklistedagentstatus2                : int  0 0 0 0 0 0 0 0 0 0 ...
 $ randomcheckpolicy                      : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ randomcheckagent                       : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ officeaddressna                        : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ financiallydependent                   : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ nominees                               : Factor w/ 101 levels "","Boyfriend",..: 84 84 61 61 1 84 84 1 84 4 ...
 $ FINANCIALLIFE                          : Factor w/ 465 levels "","0","10000",..: 104 333 234 153 220 4 243 438 203 355 ...
 $ substdhx                               : Factor w/ 3 levels "","FALSE","TRUE": 2 2 2 2 2 2 2 2 2 2 ...
 $ WP.TPD                                 : Factor w/ 453 levels "","0","100000",..: NA NA NA NA NA 112 NA NA 232 NA ...
 $ CI                                     : Factor w/ 192 levels "","0","10000",..: 4 NA NA 59 4 NA NA NA 60 NA ...
 $ EARLYCI                                : Factor w/ 43 levels "","0","10000",..: NA NA NA NA NA NA NA NA 4 NA ...
 $ WP.CI                                  : Factor w/ 648 levels "","0","100000",..: NA 91 274 NA NA 179 NA NA 380 246 ...
 $ HS                                     : Factor w/ 41 levels "","0","100","120",..: 5 5 9 5 7 5 5 NA 7 4 ...
 $ EAPWP.FREE                             : Factor w/ 348 levels "","0","10000",..: 81 249 NA 124 309 4 188 323 125 161 ...
 $ WLHB                                   : Factor w/ 19 levels "","0","100","150",..: 13 NA NA NA NA 2 NA NA 3 NA ...
 $ MMCaseExistingCover_ClaimRecord        : Factor w/ 349 levels "","0","11","153",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ lastclaimdate                          : Factor w/ 808 levels "","13/01/2008",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ ADD                                    : Factor w/ 65 levels "","0","10000",..: 23 33 45 NA NA NA NA 61 NA NA ...
 $ impairmentrecord                       : Factor w/ 137 levels "","112","118",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ impairmentrecorddate                   : Factor w/ 594 levels "","13/01/2014",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ RCC                                    : Factor w/ 98 levels "","0","10000",..: 44 74 4 67 35 4 43 87 67 62 ...
 $ EPA                                    : Factor w/ 90 levels "","0","10000",..: 61 46 61 61 34 4 42 NA 61 56 ...
 $ CLR                                    : Factor w/ 107 levels "","0","10000",..: 4 NA NA 33 79 NA NA NA 4 NA ...
 $ aggregatepaplan                        : Factor w/ 5 levels "","ANNPA","ESPA",..: NA NA NA NA NA NA NA NA NA NA ...
 $ aggregatepaplanpolicy                  : Factor w/ 4 levels "","1","2","3": NA NA NA NA NA NA NA NA NA NA ...
 $ aggregatepaplansa                      : Factor w/ 25 levels "","100000","1000000",..: NA NA NA NA NA NA NA NA NA NA ...
 $ EAPWC.F                                : Factor w/ 108 levels "","10000","100000",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ WC.CI                                  : Factor w/ 212 levels "","0","102800",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ WC.TPD                                 : Factor w/ 194 levels "","0","1000040",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ MCIR                                   : Factor w/ 19 levels "","0","10000",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ WC.DTH                                 : Factor w/ 24 levels "","1500","1583",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ EAPWC.P                                : Factor w/ 1 level "": 1 1 1 1 1 1 1 1 1 1 ...
 $ HAJJBASIC                              : Factor w/ 4 levels "","10000","100000",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ dateofbirth                            : Factor w/ 5491 levels "","1/1/1954",..: 4769 2550 5039 1755 321 5232 4499 3590 4565 1671 ...
 $ sex                                    : Factor w/ 3 levels "","F","M": 3 3 3 3 2 2 2 3 2 2 ...
 $ maritalstatus                          : Factor w/ 5 levels "","Divorced",..: 3 3 4 4 4 3 3 3 3 4 ...
 $ smokerstatusyn                         : logi  FALSE TRUE FALSE FALSE FALSE FALSE ...
 $ occupation                             : Factor w/ 497 levels "","A51-01-04",..: 175 222 196 243 261 152 286 261 55 355 ...
 $ insuranceage                           : int  42 48 20 19 37 32 40 60 32 27 ...
 $ nationality                            : Factor w/ 37 levels "","ALGERIA","AUSTRALIA",..: 21 21 21 21 21 21 21 21 21 21 ...
 $ caserole                               : Factor w/ 2 levels "","Primary Insured": 2 2 2 2 2 2 2 2 2 2 ...
 $ lifeapp3mths                           : logi  FALSE TRUE FALSE TRUE TRUE FALSE ...
 $ paaggregatesa                          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ aggregatesawi                          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ nmlaggregatedsa                        : int  50000 50000 30000 20000 273000 100000 31000 80000 50000 25000 ...
 $ nmlaggregatedsabanca                   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ nmltotalsa                             : int  173250 50000 30000 20000 273000 100000 31000 80000 300000 55000 ...
 $ financialtotalsa                       : int  150000 50000 30000 20000 273000 100000 31000 80000 250000 55000 ...
 $ financialtotalsabanca                  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ aggregatesinglepremiumnml              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ othercolifesa                          : int  0 0 0 0 80000 0 0 0 0 0 ...
 $ othercoaccsa                           : int  0 0 0 0 0 0 0 0 0 0 ...
 $ othercocisa                            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ acidrecord                             : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ liamrecord                             : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ peplist                                : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ badclient                              : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ previouspolicyfullyuw                  : logi  TRUE TRUE FALSE TRUE TRUE TRUE ...
 $ bmi                                    : int  23 25 19 19 21 25 28 25 19 23 ...
 $ heightcm                               : num  178 170 157 168 158 160 150 167 160 158 ...
 $ weightkilos                            : num  74 72 48 55 52.4 65 62 70 49 58 ...
 $ sioheightcm                            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ sioweightkilos                         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Impairment                             : int  0 1 0 0 0 0 0 0 0 0 ...
 $ MMCasePerLife_ClaimRecord              : int  1 0 0 0 0 0 1 0 0 1 ...
 $ existingexclusion                      : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ existinganymedicalpendingcode          : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ OC.Loading                             : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ PF.Loading                             : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ FH.Loading                             : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ CR.Loading                             : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ Label                                  : Factor w/ 2 levels "Non-Standard",..: 2 2 2 2 1 2 2 2 2 2 ...
 $ Impairment_High                        : int  NA 1 NA NA NA NA NA NA NA NA ...
 $ Impairment_Low                         : int  NA 0 NA NA NA NA NA NA NA NA ...
 $ Impairment_Medium                      : int  NA 0 NA NA NA NA NA NA NA NA ...
 $ Claim_High                             : int  0 NA NA NA NA NA 0 NA NA 0 ...
 $ Claim_Low                              : int  2 NA NA NA NA NA 1 NA NA 1 ...
 $ Claim_Medium                           : int  0 NA NA NA NA NA 0 NA NA 0 ...

In [42]:

mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,7])
mytable
prop.table(mytable,1)
fisher.test(mytable)

               Diving Motor car or motor cycle racing
  Non-Standard      0                               0
  STANDARD         17                               2

               Mountaineering or rock climbing None Others
  Non-Standard                               0  291      4
  STANDARD                                   3 3551      4

                     Diving Motor car or motor cycle racing
  Non-Standard 0.0000000000                    0.0000000000
  STANDARD     0.0047525860                    0.0005591278

               Mountaineering or rock climbing         None       Others
  Non-Standard                    0.0000000000 0.9864406780 0.0135593220
  STANDARD                        0.0008386916 0.9927313391 0.0011182555

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.009439
alternative hypothesis: two.sided

In [43]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,9])
mytable
prop.table(mytable,1)
fisher.test(mytable)

               {A sexually transmitted disease, HIV or AIDS}
  Non-Standard                                             0
  STANDARD                                                 1

               {Abnormal heart beat}
  Non-Standard                     0
  STANDARD                         5

               {Any mental health disorder including anxiety, depression}
  Non-Standard                                                          1
  STANDARD                                                              5

               {Blood disorder (e.g. anaemia)}
  Non-Standard                               0
  STANDARD                                   8

               {Cancer, malignant tumour or growth} {Chest discomfort}
  Non-Standard                                    1                  1
  STANDARD                                        3                  6

               {Diabetes or raised blood sugar}
  Non-Standard                                3
  STANDARD                                    7

               {Diabetes or raised blood sugar}{Raised blood pressure}
  Non-Standard                                                       2
  STANDARD                                                           2

               {Diabetes or raised blood sugar}{Raised cholesterol}
  Non-Standard                                                    0
  STANDARD                                                        1

               {Heart abnormality or heart valve disease}
  Non-Standard                                          1
  STANDARD                                              4

               {Heart attack or coronary artery disease}
  Non-Standard                                         5
  STANDARD                                             1

               {Heart attack or coronary artery disease}{Raised blood pressure}{Thyroid disorder}
  Non-Standard                                                                                  1
  STANDARD                                                                                      0

               {Kidney disorder} {Liver disorder (e.g. hepatitis, gallstone)}
  Non-Standard                 1                                            0
  STANDARD                     6                                           27

               {Liver disorder (e.g. hepatitis, gallstone)}{Raised blood pressure}
  Non-Standard                                                                   2
  STANDARD                                                                       0

               {None of these} {Raised blood pressure}
  Non-Standard             110                       5
  STANDARD                3680                      55

               {Raised blood pressure}{Raised cholesterol}
  Non-Standard                                           0
  STANDARD                                               4

               {Raised blood pressure}{Thyroid disorder} {Raised cholesterol}
  Non-Standard                                         0                    2
  STANDARD                                             2                    8

               {Rheumatoid arthritis} {Stroke, transient ischemic attack (TIA)}
  Non-Standard                      1                                         3
  STANDARD                          0                                         0

               {Thyroid disorder}
  Non-Standard                  0
  STANDARD                     26

               {A sexually transmitted disease, HIV or AIDS}
  Non-Standard                                  0.0000000000
  STANDARD                                      0.0002596728

               {Abnormal heart beat}
  Non-Standard          0.0000000000
  STANDARD              0.0012983641

               {Any mental health disorder including anxiety, depression}
  Non-Standard                                               0.0071942446
  STANDARD                                                   0.0012983641

               {Blood disorder (e.g. anaemia)}
  Non-Standard                    0.0000000000
  STANDARD                        0.0020773825

               {Cancer, malignant tumour or growth} {Chest discomfort}
  Non-Standard                         0.0071942446       0.0071942446
  STANDARD                             0.0007790184       0.0015580369

               {Diabetes or raised blood sugar}
  Non-Standard                     0.0215827338
  STANDARD                         0.0018177097

               {Diabetes or raised blood sugar}{Raised blood pressure}
  Non-Standard                                            0.0143884892
  STANDARD                                                0.0005193456

               {Diabetes or raised blood sugar}{Raised cholesterol}
  Non-Standard                                         0.0000000000
  STANDARD                                             0.0002596728

               {Heart abnormality or heart valve disease}
  Non-Standard                               0.0071942446
  STANDARD                                   0.0010386912

               {Heart attack or coronary artery disease}
  Non-Standard                              0.0359712230
  STANDARD                                  0.0002596728

               {Heart attack or coronary artery disease}{Raised blood pressure}{Thyroid disorder}
  Non-Standard                                                                       0.0071942446
  STANDARD                                                                           0.0000000000

               {Kidney disorder} {Liver disorder (e.g. hepatitis, gallstone)}
  Non-Standard      0.0071942446                                 0.0000000000
  STANDARD          0.0015580369                                 0.0070111659

               {Liver disorder (e.g. hepatitis, gallstone)}{Raised blood pressure}
  Non-Standard                                                        0.0143884892
  STANDARD                                                            0.0000000000

               {None of these} {Raised blood pressure}
  Non-Standard    0.7913669065            0.0359712230
  STANDARD        0.9555959491            0.0142820047

               {Raised blood pressure}{Raised cholesterol}
  Non-Standard                                0.0000000000
  STANDARD                                    0.0010386912

               {Raised blood pressure}{Thyroid disorder} {Raised cholesterol}
  Non-Standard                              0.0000000000         0.0143884892
  STANDARD                                  0.0005193456         0.0020773825

               {Rheumatoid arthritis} {Stroke, transient ischemic attack (TIA)}
  Non-Standard           0.0071942446                              0.0215827338
  STANDARD               0.0000000000                              0.0000000000

               {Thyroid disorder}
  Non-Standard       0.0000000000
  STANDARD           0.0067514931

ERROR: Error in fisher.test(mytable): FEXACT error 7.
LDSTP is too small for this problem.
Try increasing the size of the workspace.

In [44]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,10])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  371   89
  STANDARD     2942   91

                      No       Yes
  Non-Standard 0.8065217 0.1934783
  STANDARD     0.9699967 0.0300033

	Fisher's Exact Test for Count Data

data:  mytable
p-value < 2.2e-16
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.09332209 0.17844632
sample estimates:
odds ratio
 0.1290764

In [45]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,11])
mytable
prop.table(mytable,1)
fisher.test(mytable)

               {Diving} {Diving}{Motor car or motor cycle racing}
  Non-Standard        1                                         0
  STANDARD           30                                         1

               {Diving}{Mountaineering or rock climbing}
  Non-Standard                                         0
  STANDARD                                             2

               {Diving}{Mountaineering or rock climbing}{Parachuting, skydiving or hang gliding}
  Non-Standard                                                                                 0
  STANDARD                                                                                     1

               {Diving}{Other} {Flying - other than as a fare paying passenger}
  Non-Standard               0                                                0
  STANDARD                   1                                                2

               {Motor car or motor cycle racing}
  Non-Standard                                 2
  STANDARD                                     2

               {Mountaineering or rock climbing} {None of these} {Other}
  Non-Standard                                 1             561       8
  STANDARD                                     7            6688      13

               {Parachuting, skydiving or hang gliding}
  Non-Standard                                        1
  STANDARD                                            0

                  {Diving} {Diving}{Motor car or motor cycle racing}
  Non-Standard 0.001742160                               0.000000000
  STANDARD     0.004446421                               0.000148214

               {Diving}{Mountaineering or rock climbing}
  Non-Standard                               0.000000000
  STANDARD                                   0.000296428

               {Diving}{Mountaineering or rock climbing}{Parachuting, skydiving or hang gliding}
  Non-Standard                                                                       0.000000000
  STANDARD                                                                           0.000148214

               {Diving}{Other} {Flying - other than as a fare paying passenger}
  Non-Standard     0.000000000                                      0.000000000
  STANDARD         0.000148214                                      0.000296428

               {Motor car or motor cycle racing}
  Non-Standard                       0.003484321
  STANDARD                           0.000296428

               {Mountaineering or rock climbing} {None of these}     {Other}
  Non-Standard                       0.001742160     0.977351916 0.013937282
  STANDARD                           0.001037498     0.991255373 0.001926782

               {Parachuting, skydiving or hang gliding}
  Non-Standard                              0.001742160
  STANDARD                                  0.000000000

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.00017
alternative hypothesis: two.sided

In [46]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,12])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  109   30
  STANDARD     3469  382

                       No        Yes
  Non-Standard 0.78417266 0.21582734
  STANDARD     0.90080499 0.09919501

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 8.428e-05
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.2609540 0.6299599
sample estimates:
odds ratio
  0.400223

In [47]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,13])
mytable
prop.table(mytable,1)
fisher.test(mytable)

               1 - 5 per day 11 - 15 per day 16 - 20 per day 6 - 10 per day
  Non-Standard            13               3               1             12
  STANDARD               372              17               9            175

               Infrequent ( < 1 per day)
  Non-Standard                       110
  STANDARD                          3278

               1 - 5 per day 11 - 15 per day 16 - 20 per day 6 - 10 per day
  Non-Standard   0.093525180     0.021582734     0.007194245    0.086330935
  STANDARD       0.096598286     0.004414438     0.002337055    0.045442742

               Infrequent ( < 1 per day)
  Non-Standard               0.791366906
  STANDARD                   0.851207479

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.009814
alternative hypothesis: two.sided

In [50]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,14])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  135    4
  STANDARD     3814   37

                        No         Yes
  Non-Standard 0.971223022 0.028776978
  STANDARD     0.990392106 0.009607894

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.05278
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.115247 1.283214
sample estimates:
odds ratio
 0.3275699

In [52]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,15])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  133    6
  STANDARD     3815   36

                        No         Yes
  Non-Standard 0.956834532 0.043165468
  STANDARD     0.990651779 0.009348221

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.002991
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.08536233 0.61840856
sample estimates:
odds ratio
 0.2093655

In [53]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,16])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  126   13
  STANDARD     3805   46

                       No        Yes
  Non-Standard 0.90647482 0.09352518
  STANDARD     0.98805505 0.01194495

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 6.507e-08
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.06042928 0.24290782
sample estimates:
odds ratio
 0.1173361

In [57]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,18])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  129   10
  STANDARD     3745  106

                       No        Yes
  Non-Standard 0.92805755 0.07194245
  STANDARD     0.97247468 0.02752532

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.006633
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.1852210 0.8023948
sample estimates:
odds ratio
 0.3652723

In [58]:
library(rpart)
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,19])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  126    6
  STANDARD     3708   31

                        No         Yes
  Non-Standard 0.954545455 0.045454545
  STANDARD     0.991709013 0.008290987

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.001366
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.07049457 0.52467331
sample estimates:
odds ratio
 0.1757552

In [63]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,23])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  437   23
  STANDARD     2813  220

                       No        Yes
  Non-Standard 0.95000000 0.05000000
  STANDARD     0.92746456 0.07253544

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.07723
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.9516645 2.4219100
sample estimates:
odds ratio
  1.485803

In [67]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,27])
mytable
prop.table(mytable,1)
fisher.test(mytable)

               FALSE TRUE
  Non-Standard   485  114
  STANDARD      5860 1024

                   FALSE      TRUE
  Non-Standard 0.8096828 0.1903172
  STANDARD     0.8512493 0.1487507

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.007597
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 0.5981945 0.9298061
sample estimates:
odds ratio
 0.7434612

In [68]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,28])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                 No  Yes
  Non-Standard  587   12
  STANDARD     6493  391

                       No        Yes
  Non-Standard 0.97996661 0.02003339
  STANDARD     0.94320163 0.05679837

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 2.787e-05
alternative hypothesis: true odds ratio is not equal to 1
95 percent confidence interval:
 1.653712 5.786239
sample estimates:
odds ratio
  2.945416

In [78]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,37])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                    000001786A 000002721N 000002753P 000003471N 000005186N
  Non-Standard   45          0          0          0          0          0
  STANDARD      445          3          1          1          3          1

               000005488N 000005574N 000005958N 000009364N 00000A3606
  Non-Standard          0          0          0          0          0
  STANDARD              1          1          1          1          1

               00000A5226 00000T2391 00000T2731 10767 13618 34309 46096 48676
  Non-Standard          0          0          1     0     0     2     1     0
  STANDARD              1          1          0     1     1     1     2     1

               58718 66713 67393 68769 72082 72341 76170 79295 79462 85562
  Non-Standard     1     0     0     0     1     0     0     0     0     0
  STANDARD         0     1     1     2     0     2     1     1     1     1

               unknown
  Non-Standard     548
  STANDARD        6407

                              000001786A   000002721N   000002753P   000003471N
  Non-Standard 0.0751252087 0.0000000000 0.0000000000 0.0000000000 0.0000000000
  STANDARD     0.0646426496 0.0004357931 0.0001452644 0.0001452644 0.0004357931

                 000005186N   000005488N   000005574N   000005958N   000009364N
  Non-Standard 0.0000000000 0.0000000000 0.0000000000 0.0000000000 0.0000000000
  STANDARD     0.0001452644 0.0001452644 0.0001452644 0.0001452644 0.0001452644

                 00000A3606   00000A5226   00000T2391   00000T2731        10767
  Non-Standard 0.0000000000 0.0000000000 0.0000000000 0.0016694491 0.0000000000
  STANDARD     0.0001452644 0.0001452644 0.0001452644 0.0000000000 0.0001452644

                      13618        34309        46096        48676        58718
  Non-Standard 0.0000000000 0.0033388982 0.0016694491 0.0000000000 0.0016694491
  STANDARD     0.0001452644 0.0001452644 0.0002905288 0.0001452644 0.0000000000

                      66713        67393        68769        72082        72341
  Non-Standard 0.0000000000 0.0000000000 0.0000000000 0.0016694491 0.0000000000
  STANDARD     0.0001452644 0.0001452644 0.0002905288 0.0000000000 0.0002905288

                      76170        79295        79462        85562      unknown
  Non-Standard 0.0000000000 0.0000000000 0.0000000000 0.0000000000 0.9148580968
  STANDARD     0.0001452644 0.0001452644 0.0001452644 0.0001452644 0.9307088902

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.05483
alternative hypothesis: two.sided

In [80]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,39])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                    Gold  N/A Ordinary  Red Silver
  Non-Standard   45    0  548        4    2      0
  STANDARD      445    2 6407       22    3      5

                                    Gold          N/A     Ordinary          Red
  Non-Standard 0.0751252087 0.0000000000 0.9148580968 0.0066777963 0.0033388982
  STANDARD     0.0646426496 0.0002905288 0.9307088902 0.0031958164 0.0004357931

                     Silver
  Non-Standard 0.0000000000
  STANDARD     0.0007263219

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 0.08907
alternative hypothesis: two.sided

In [81]:
mytable <- table(Reduce_ADD_DF$Label,Reduce_ADD_DF[,40])
mytable
prop.table(mytable,1)
fisher.test(mytable)

                    AATB AIAB
  Non-Standard   45   36  518
  STANDARD      445  982 5457

                                AATB       AIAB
  Non-Standard 0.07512521 0.06010017 0.86477462
  STANDARD     0.06464265 0.14264962 0.79270773

	Fisher's Exact Test for Count Data

data:  mytable
p-value = 4.863e-09
alternative hypothesis: two.sided

In [54]:
table(ADD_DF_NS$reason)

                               CR - COMPANY RULES GR - GEOGRAPHICAL RATING
                     569                        1                        1
         OC - OCCUPATION   PF - PHYSICAL FINDINGS
                      29                       24

In [56]:
ADD_DF_ST <- ADD_DF[ADD_DF$Label == "STANDARD",]
dim(ADD_DF_ST)

[1] 40180   278

In [57]:
table(ADD_DF_ST$rating)

        100.00%  50.00%
  40180       0       0

In [58]:
table(ADD_DF_ST$reason)

                               CR - COMPANY RULES GR - GEOGRAPHICAL RATING
                   40180                        0                        0
         OC - OCCUPATION   PF - PHYSICAL FINDINGS
                       0                        0

In [59]:
table(ADD_DF_ST$Avocation1)
table(ADD_DF_NS$Avocation1)

                                                           #N/A
                              0                           18241
                         Diving Motor car or motor cycle racing
                             31                               2
Mountaineering or rock climbing                            None
                              3                           21899
                         Others
                              4

                                                           #N/A
                              0                             313
                         Diving Motor car or motor cycle racing
                              0                               1
Mountaineering or rock climbing                            None
                              0                             306
                         Others
                              4

In [60]:
table(ADD_DF_ST$Avocation2)
table(ADD_DF_NS$Avocation2)

         #N/A Diving Others
     0  40176      3      1

         #N/A Diving Others
     0    624      0      0

In [61]:
table(ADD_DF_ST$plancurrency)
table(ADD_DF_NS$plancurrency)

        MYR
 3286 36894

    MYR
 50 574

In [64]:
tree_model <- rpart(Label ~ rating+reason, ADD_DF)

In [65]:
summary(tree_model)

Call:
rpart(formula = Label ~ rating + reason, data = ADD_DF)
  n= 43861

          CP nsplit rel error    xerror       xstd
1 0.01494159      0 1.0000000 1.0000000 0.01577549
2 0.01000000      1 0.9850584 0.9850584 0.01566790

Variable importance
rating
   100

Node number 1: 43861 observations,    complexity param=0.01494159
  predicted class=STANDARD      expected loss=0.08392422  P(node) =1
    class counts:  3057   624 40180
   probabilities: 0.070 0.014 0.916
  left son=2 (55 obs) right son=3 (43806 obs)
  Primary splits:
      rating splits as  RLL,   improve=99.99447, (0 missing)
      reason splits as  RLLLL, improve=99.99447, (0 missing)

Node number 2: 55 observations
  predicted class=Non-Standard  expected loss=0  P(node) =0.001253961
    class counts:     0    55     0
   probabilities: 0.000 1.000 0.000

Node number 3: 43806 observations
  predicted class=STANDARD      expected loss=0.08277405  P(node) =0.998746
    class counts:  3057   569 40180
   probabilities: 0.070 0.013 0.917